
.dropdown .dropdown-menu a {
    color: #ffffff !important;
}

.login-box {
    width: 482px !important;
}


.search-product{
    height:40px !important;
}

.search-product input[type="text"] {
    background: #333333;
    border: 0;
    box-shadow: none;
    border-radius: 0;
    color: #ffffff;
    height: 40px;
    font-weight: 300;
    font-size: 16px;
    /* margin-bottom: 15px; */
    width : 251px !important;
    padding: 0 20px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
    width: 100%;
    outline: 0;
}

.search-product button {
    padding: 9px 15px !important;
}

.filter-data-condition{
    width : 150px;
    height : 30px;
    border : 1px solid grey;
    border-radius : 3px;
    display : flex;
    position : relative;
    margin-top:6px;
}

.btn-sort{
    position : absolute;
    height : 28px;
    line-height:28px;
    width : 30px;
    border-left : 1px solid grey;
    right:0px;
    display :flex;
    justify-content:center;
    align-items : center;
    cursor : pointer;

}

.btn-sort:hover {
    background-color: #000000;
    color:#fff;
}

.wrap-sort{
    width : 150px;
    
}

.sort-by-price{
    width:150px;
    height:25px;
    display:block;
    text-align:left;
}

.link-sort{
    display:block;
}

    .link-sort:hover{
        color:#fff;
    }

    .toolbar-sorter-right {
        position: relative;
    }

.wrap-sort{
    position : absolute;
    right : 141px;
    z-index : 100;
    background-color:#fff;
    display:none;
}

.sort-by-price {
    width: 150px;
    height: 25px;
    text-align: left;
    text-indent: 15px;
    cursor:pointer;
}

.sort-by-name {
    width: 150px;
    height: 25px;
    text-align: left;
    text-indent: 15px;
    cursor: pointer;
}

.filter-data-condition{
    z-index : 100;
}

.sort-by-price:hover, .sort-by-name:hover {
    background-color: #000000;
    color: #fff;
}

.showWrapSort{
    display:block;
}