<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>Shop online bán rau củ quả</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="~/wwwroot/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="~/wwwroot/images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/wwwroot/css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="~/wwwroot/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/wwwroot/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/wwwroot/css/custom.css">

    <link rel="stylesheet" href="~/wwwroot/css/common.css" />

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.~/wwwroot/js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- Register-->
    @{
        Html.RenderPartial("Register");
    }

    <!--Header-->

    @{
        Html.RenderAction("Header" , "Home");
    }

    <!-- End Main Top -->
    <!-- Start Top Search -->
    <div class="top-search">
        <div class="container">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
            </div>
        </div>
    </div>
    <!-- End Top Search -->

    @RenderSection("Slider", required: false)
    
    @RenderSection("SliderDetail", required : false)

    @RenderBody()

    @{
        Html.RenderPartial("Footer");
    }

    <!-- End Footer  -->
    <!-- Start copyright  -->
    <div class="footer-copyright">
        <p class="footer-company">All Rights Reserved. &copy; 2021 <a href="#">TAN TAI FOOD</a> </p>
    </div>
    <!-- End copyright  -->

    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

    <!-- ALL JS FILES -->
    <script src="~/wwwroot/js/jquery-3.2.1.min.js"></script>
    <script src="~/wwwroot/js/popper.min.js"></script>
    <script src="~/wwwroot/js/bootstrap.min.js"></script>
    <script src="~/wwwroot/js/jquery-ui.js"></script>
    <!-- ALL PLUGINS -->
    <script src="~/wwwroot/js/jquery.superslides.min.js"></script>
    <script src="~/wwwroot/js/bootstrap-select.js"></script>
    <script src="~/wwwroot/js/inewsticker.js"></script>
    <script src="~/wwwroot/js/bootsnav.js."></script>
    <script src="~/wwwroot/js/images-loded.min.js"></script>
    <script src="~/wwwroot/js/isotope.min.js"></script>
    <script src="~/wwwroot/js/owl.carousel.min.js"></script>
    <script src="~/wwwroot/js/baguetteBox.min.js"></script>
    <script src="~/wwwroot/js/jquery.nicescroll.min.js"></script>
    <script src="~/wwwroot/js/custom.js"></script>
    <script src="~/wwwroot/js/form-validator.min.js"></script>
    <script src="~/wwwroot/js/contact-form-script.js"></script>
    <script>
        function handleSelect(elm) {
            window.location = elm.value + ".html";
        }
    </script>

</body>

</html>