<!-- Start Main Top -->
<div class="main-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                <div class="right-phone-box">
                    <p>Call US :- <a href="#"> +84 12345678</a></p>
                </div>
                <div class="our-link">
                    <ul>
                        <li><a href="@Url.Action("ChangeInfoUser" , "Home")"><i class="fa fa-user s_color"></i>Tài Khoản</a></li>
                        <li><a href="#"><i class="fas fa-headset"></i> Liên Hệ</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="login-box" style="
                        width: 215px;
                    ">
                    <ul style="display: flex;">
                        <li style="margin-right: 25px;">
                            <i class="fas fa-sign-in-alt" style="color: white;font-size: 16px;margin-right: 5px;"></i>
                            <a href="@Url.Action("Login", "Home")" style="font-size: 16px;color:white;">Đăng nhập</a>
                        </li>
                        <li>
                            <i class="fas fa-user-plus" style="color: white;font-size: 16px;margin-right: 5px;"></i>
                            <a href="@Url.Action("SignUp", "Home")" style="font-size: 16px;color:white;">Đăng ký</a>
                        </li>
                    </ul>
                </div>
                <div class="text-slid-box">
                    <div id="offer-box" class="carouselTicker">
                        <ul class="offer-box">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Main Top -->
