/*paging*/

.paging-bar {
    height: 56px;
    display: flex;
    align-items: center;
}

.paging-bar .info-page {
    position: absolute;
    left: 32px;
}
 .paging-bar .list-page {
    margin: 0 auto;
}

.list-page ul {
    display: flex;
    list-style-type: none;
}

    .list-page ul li a {
        text-decoration: none;
    }

    .list-page ul li {
        cursor:pointer;
        width: 24px;
        height: 24px;
        font-size: 13px;
        margin: 0px 5px;
        line-height: 25px;
        text-align: center;
    }

    .list-page ul li i {
        font-size:14px !important;
    }

    .list-page ul .prev {
        width: 24px;
        height: 24px;
        background-image: url('../../content/icon/btn-prev-page.svg');
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        line-height:25px;
    }

    .list-page ul .prev-first {
        width: 24px;
        height: 24px;
        background-image: url(../../content/icon/btn-firstpage.svg);
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        line-height: 25px;
    }

    .list-page ul .next {
        width: 24px;
        height: 24px;
        background-image: url('../../content/icon/btn-next-page.svg');
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        line-height: 25px;
    }

    .list-page ul .next-last {
        width: 24px;
        height: 24px;
        background-image: url('../../content/icon/btn-lastpage.svg');
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        line-height: 25px;
        font-size : 15px !important;
    }

    .list-page ul li {
        border-radius: 50%;
        text-align: center;
        background-color: #e5e5e5;
        text-decoration: none;
        color: #000000;
        display: block;
    }

        .list-page ul li a:active {
            color: #000000;
        }

.content .paging-bar .record-per-page {
    position: absolute;
    right: 32px;
}

.list-page ul .first-page {
    color: #ffffff;
    background-color: #019160;
}

.list-page ul .active-current-page {
    background-color: #019160;
}

    .list-page ul .active-current-page a {
        color: #ffffff;
    }

.m-prev-first, .m-prev, .m-next, .m-next-last {
    background-color: #ffffff !important;
    cursor: pointer;
}
