
@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmim.cshtml";
}

<div class="section__content section__content--p30">
    <div class="container-fluid">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    Thông Tin Chi Tiết Đơn Hàng
                </div>
                <div class="card-body card-block">
                    <form action="" method="post" class="form-horizontal">
                        <div class="row form-group">
                            <div class="col col-sm-5">
                                <label for="input-small" class=" form-control-label">
                                    Tên Khách
                                    Hàng
                                </label>
                            </div>
                            <div class="col col-sm-6">
                                Nguyễn Văn A
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-sm-5">
                                <label for="input-small" class=" form-control-label">Địa Chỉ</label>
                            </div>
                            <div class="col col-sm-6">
                                Trần Duy Hưng, Cầu Giấy, Hà Nội
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-sm-5">
                                <label for="input-small" class=" form-control-label">
                                    THỜI GIAN TẠO
                                    ĐƠN
                                </label>
                            </div>
                            <div class="col col-sm-6">
                                2018-09-27 02:12
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-sm-5">
                                <label for="input-small" class=" form-control-label">
                                    THỜI GIAN NHẬN
                                    ĐƠN
                                </label>
                            </div>
                            <div class="col col-sm-6">
                                2018-09-27 02:12
                            </div>
                        </div>


                        <div class="row form-group">
                            <div class="col col-sm-5">
                                <label for="input-small" class=" form-control-label">
                                    Trạng Thái Thanh
                                    Toán
                                </label>
                            </div>
                            <div class="col col-sm-6">
                                Đã Thanh Toán
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-sm-5">
                                <label for="input-small" class=" form-control-label">
                                    Tình Trạng Đơn
                                    Hàng
                                </label>
                            </div>
                            <div class="col col-sm-6">
                                Đã Giao
                            </div>
                        </div>

                        <div class="table-responsive table-responsive-data2">
                            <table class="table table-data2">
                                <thead>
                                    <tr>
                                        <th>
                                            ID
                                        </th>
                                        <th>Tên Hàng</th>
                                        <th>Ảnh</th>
                                        <th>Mô Tả</th>
                                        <th>Ngày Tạo</th>
                                        <th>Số Lượng </th>
                                        <th>Giá Tiền</th>
                                        <th>Loại Hàng</th>


                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="tr-shadow">
                                        <td>
                                            1
                                        </td>
                                        <td>Rau Cải</td>
                                        <td>
                                            <img src="images/bg-title-02.jpg" alt="">
                                        </td>
                                        <td class="desc">
                                            Quả Đu Đủ có kích thước đường kính chừng 10 cm,
                                            trọng lượng 0,8 – 1 kg/ quả.
                                        </td>
                                        <td>2018-09-27 02:12</td>
                                        <td>
                                            <span>1</span>
                                        </td>
                                        <td>10.000 VNĐ</td>
                                        <td>Rau</td>

                                        <td>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="row form-group">
                            <div class="col col-sm-5">
                                <label for="input-small" class=" form-control-label">Tổng Tiền</label>
                            </div>
                            <div class="col col-sm-6" style="text-align: end;">
                                10.000VNĐ

                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

